.footer {
    background: linear-gradient(to bottom, rgba(256, 256, 256, 0), rgba(256, 256, 256, 1));
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 120px;
    width: 100%;
    z-index: 1;
}
